<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <br/>



    <div class="navbar">
        <a href="/">Home</a>
        <a href="/recipe/new">Add Recipe</a>
        <a href="/recipe/dosearch">Search Recipe</a>
        <a href="/recipe/updaterecipe">Update Recipe</a>
        <a href="/">Delete Recipe</a>
      </div>

      <br/> <br/>

      <style>
        * {box-sizing: border-box}
        body {font-family: Arial, Helvetica, sans-serif;}
        
        .navbar {
          width: 70%;
          background-color: #555;
          overflow: auto;
        }
        
        .navbar a {
          float: left;
          padding: 12px;
          color: white;
          text-decoration: none;
          font-size: 17px;
          width: 20%;
          text-align: center;
        }
        
        .navbar a:hover {
          background-color: #4fabd6;
        }
        
       
        </style>
       

</body>
</html>